<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeJS - Photo Album</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/photo-api.js"></script>
  </head>

  <body class="w3-light-grey w3-content" style="max-width:1200px">
    <div>
      <h1>Photo Album</h1>
      <h4><a href="../">Back</a></h4>
      <div class="w1-row photopanel">
        <img src="/public/images/#{url}" style="width:100%">
      </div>
      <div class="description">
        <h2>#{description}</h2>
        <h5><a href="#{original}">#{original}</a></h5>
      </div>
    </div>
  </body>
</html>
